.home {
  width: 100%;
  align-items: center;
  font-family: 'Arial', sans-serif;
  /* color: #3e497a; */
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
}

.about h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  color: #e9d35b;
  height: 190px;
  margin-bottom: 20px;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
  
}
.aboutme{
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 50px;
  color: rgb(45, 33, 33);
  display: flex;
  flex-direction: column; 
  align-items: center;
}


.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }
}